<div class="row">


  <div class="col-9">
    <h1> Top Users Ranked by Games Played </h1>
  </div>
</div>

<div class="row">
		<table class="table table-bordered table-hovered">
		  <thead>
		    <tr>
		      <th scope="col">Ranking #</th>
		      <th scope="col">First Name</th>
		      <th scope="col">Last Name</th>
		      <th scope="col"> Email </th>
		      <th scope="col">Games Played</th>
		    </tr>
		  </thead>
	<% i = 1 %>
	<% User.all.order(games_played: :desc).limit(10).each do |user| %>
	
		  <tbody>
		  	<tr class="table-light">
		  		<td> <%= i %> </td>
		  		<td> <%=user.first_name%> </td>
		  		<td> <%=user.last_name%> </td>
		  		<td> <%=user.email%> </td>
		  		<td> <%=user.games_played%> </td>
		  	<% i = i + 1 %>
	<% end %>		  			
		  </tbody>

		</table>

</div>
