<div class="row">
  
  <div class="col-9">
    <h1> Current or Upcoming Games Scheduled </h1>
  </div>

  <div class="col-3" >
    <div class="my-3">
      <%= link_to "Add a New Game", "/games/new", class: 'btn btn-primary' %>
    </div>
  </div>

</div>

<div class="row">

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Location</th>
        <th>Name</th>
        <th>Participants</th>
        <th>Start_Time</th>
        <th>End_Time</th>
        <th> Actions </th>
      </tr>
    </thead>
    <tbody>
      <% Game.all.each do |game| %>
        <tr>
          <td><%= link_to game.location, "/games/#{game.id}" %></td>
          <td> <%= game.name %> </td>
          <td> <%= game.max_players %> </td>
          <td> <%= game.start_time %> </td>
          <td> <%= game.end_time %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
