<% game = Game.find_by(id: params["id"]) %>
<% value = game.id %>
<% venue = Venue.find_by(id: game.venue_id) %>

<h1>Here are the details for game <%= game.name %></h1>

<div class="row">
  <div class="col-sm-4">


      <p>Name: <%= game.name %></p>
      <p>Venue Name: <%=venue.name %></p>
      <p> Max Players Allowed In Game: <%=game.max_players %></p>
      <p> Game Start Date and Time:  <%=game.start_time%></p> 
      <p> Current Players in the Game: </p>
      <% all_players = User.joins(:players).where(players: {game_id:game.id}) %>
      <% valid = Array.new %>
      <% all_players.each do |athlete| %>
      <% valid.push(athlete.id) %>
      <ul>
      	<li>  <%=athlete.first_name%> <%=athlete.last_name%> </li>
      </ul>	
      <% end %>

      <% if session[:user_id] != nil && valid.include?(session[:user_id]) %>

      	<%= form_tag "/players/#{value}", method:"delete" do %>
      		<button class="btn btn-primary">Remove Yourself From This Game</button>
      	<% end %>
      <% end %>
      
    
  </div>
</div>
