<!DOCTYPE html>
<html>
  <head>
    <title>Ball is Life!</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Ball is Life</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="/games">Games</a></li>
          <li class="nav-item"><a class="nav-link" href="/players">Players Leaderboard</a></li>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">

          <% if session[:user_id] != nil %>
            <li class="nav-item"> <a class="navbar-brand"> Hi, <%= User.find_by(id: session[:user_id]).first_name %> </a></li> 
            <li class="nav-item"> <a class="nav-link"><%=link_to "My Account", "/users/#{session[:user_id]}"%> </a> </li>
            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
          <% else %>
            <a href="/users" class="btn btn-outline-success my-2 my-sm-0" type="button">Sign Up</a>
            <a href= "/sessions/login" class="btn btn-outline-success my-2 my-sm-0" type="button">Sign In</a>
          <% end %>

        </ul>
      </div>
    </nav>

    <div class="container">
      <% if notice.present? %>
        <div class="alert alert-primary">
          <%= notice %>
        </div>
      <% end %>

      <%= yield %>

    </div>
  </body>

</html>
